# Ambiente Virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração local (se você usar .env)
.env
